body {
	background-image: url('./img/stade.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
.card {
	width: 100px;
	height: 150px;
	perspective: 1000px;
	margin: 10px;
	float: left;
}

.card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card.active .card-inner {
	transform: rotateY(180deg);
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}

.front {
	background-image: url('./img/cards/verso_cards.jfif');
	background-size: cover;
	background-position: center;
	background-color: #3498db;
	color: white;
}

.back {
	color: rgba(255, 255, 255, .0);
	transform: rotateY(180deg);
	background-size: cover;
	background-position: center;
}

.image {
	width: 100%;
	height: 100%;
}

button,
button::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
button {
	background: none;
	background-color: #e74c3c;
	border: 4px solid #fff;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	margin: 10px auto;
	padding: 2em 6em;
	position: relative;
	text-transform: uppercase;	
}
button::before,
button::after {
	background: #fff;
	content: "";
	position: absolute;
	z-index: -1;
}
button:hover {
	color: #29f2e4;
}

.button3::after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
}
.button3:hover:after {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(10px);
	padding: 10px;
	border: 1px solid #000;
}