 * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-sizing: border-box;
      }
      body {
        background: url("./img/riner.jpg") center;
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  overflow: hidden;
		  position: relative;
		  /* VH = 100% de la taille de l'écran (viewport height) */
		  min-height: 100vh;
		  padding: 0;
		  margin: 0;
        font-family: "Helvetica Neue", sans-serif;
      }
      nav {
        text-align: center;
      }
      .menu {
        display: inline-block;
      }
      .menu > li,a {
        float: left;
        color: gray;
        width: 140px;
        height: 40px;
        line-height: 40px;
        background: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        font-size: 17px;
      }
      .sub-menu {
        transform: scale(0);
        transform-origin: top center;
        transition: all 300ms ease-in-out;
      }
      .sub-menu li {
        font-size: 14px;
        background: rgba(0, 0, 0, 0.8);
        <!--padding: 8px 0;-->
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transform: scale(0);
        transform-origin: top center;
        transition: all 300ms ease-in-out;
      }
      .sub-menu li:last-child {
        border-bottom: 0;
      }
      .sub-menu li:hover {
        background: black;
      }
      .menu > li:hover .sub-menu li {
        transform: scale(1);
      }
      .menu > li:hover .sub-menu {
        transform: scale(1);
      }