#game-board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
}

body {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	/* VH = 100% de la taille de l'écran (viewport height) */
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(10px);
	padding: 10px;
	border: 1px solid #000;
}

button,
button::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
button {
	background: none;
	border: 4px solid #fff;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	margin: 10px auto;
	padding: 2em 6em;
	position: relative;
	text-transform: uppercase;
}
button::before,
button::after {
	background: #fff;
	content: "";
	position: absolute;
	z-index: -1;
}
button:hover {
	color: #29f2e4;
}

.button3::after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
}
.button3:hover:after {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}